:host {
    #body {
        height: 100vh;
        width: calc(100vw - 120px);
        background-color: blue;
        margin: 60px;

        h1 {
            margin: 0;
        }

        #left-feature-div {
            background-color: #ff5851;
            height: calc(100vh - 120px);
            display: inline-block;
            width: 50%;
            vertical-align: top;

            #hello-world-label {
                font-weight: 900;
                font-size: 120px;
                position: fixed;
                top: 40vh;
                left: calc(50% - 325px);
            }
        }

        #right-feature-div {
            background-color: #f8f8f8;
            height: calc(100vh - 120px);
            display: inline-block;
            width: 50%;
            vertical-align: top;
        }
    };
}