<div id="top-border">
    <h2>C H R I S</h2>
</div>
<div id="bottom-border"></div>
<div id="left-border">
    <p (click)="toggleMenu()"><i class="fas fa-bars border"></i></p>
    <p id="menu-label">MENU</p>
</div>
<div id="right-border">
    <div id="social-icons">
        <p><a href="https://www.facebook.com/profile.php?id=100023818999425" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a></p>
        <p><a href="https://twitter.com/chrisr627" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a></p>
        <p><a href="https://www.instagram.com/chrisr.627/" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a></p>
    </div>
</div>
